.endChat {
  padding-bottom: 100px;
}
.newForm {
  /* position: sticky;
  bottom: 20px; */

  width: 60%;
  position: absolute;
  bottom: 10px;
  /* background-color: var(--content-bg); */
  background-color: var(--input-bg);

  border-radius: 20px;
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 0px 20px;

  input {
    flex: 1;
    padding: 20px;
    border: none;
    outline: none;
    background-color: transparent;
    color: var(--input-color);
  }

  button,
  label {
    border-radius: 50%;
    background-color: var(--button-bg);
    border: none;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #e0dddd;
    cursor: pointer;
    &.active,
    &:hover {
      background-color: var(--menu-bg);
      color: var(--text-color);
    }
    /* img {
      width: 16px;
      height: 16px;
    } */
    .upIcon {
      width: 16px;
      height: 16px;
    }
  }
}

@media (max-width: 1024px) {
  .wrapper .chat .message {
    max-width: 80%;
  }

  .newForm {
    width: 70%;
  }
}

@media (max-width: 768px) {
  .wrapper {
    .chat {
      padding-bottom: 150px;

      .message {
        max-width: 90%;
        margin-left: 10px !important;
        margin-right: 10px !important;
        padding: 15px !important;
      }
    }
  }

  .newForm {
    width: 90%;
    bottom: 20px;
  }
}
