.rootLayout {
  padding: 16px 64px;
  height: 100vh;
  display: flex;
  flex-direction: column;

  header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    span {
      font-weight: 600;
      font-size: 1.5rem;
    }

    .logo {
      display: flex;
      align-items: center;
      font-weight: bold;
      gap: 8px;

      img {
        width: 32px;
        height: 32px;
      }
    }
  }

  main {
    flex: 1;
    overflow: hidden;
  }

  /* Tab */
  @media (max-width: 1024px) {
    padding: 16px 40px;

    header .logo span {
      font-size: 1.3rem;
    }
  }

  /* Mobile */
  @media (max-width: 768px) {
    padding: 16px 20px;
  }

  header .logo {
    img {
      width: 28px;
      height: 28px;
    }
    span {
      font-size: 1.1rem;
    }
  }
}
